[Unit]
Description=Nginx Proxy Manager (Rootless Podman)
# Requires Podman version >= 5.4.2

# Network must be online before the container starts
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=nginx-proxy-manager
Image=docker.io/jc21/nginx-proxy-manager:latest

# Automatical Updates
# To enable automatic updates for all containers, start the systemd timer:
# systemctl --user start --now podman-auto-update.timer
AutoUpdate=registry

# Network
# Isolated container network
# IMPORTANT: The network must exist before starting this service!
# podman network create proxy.net
Network=proxy.net
# Connect the nginx-proxy-manager to another networks. For example: vaultwarden.net
# Network=vaultwarden.net
PublishPort=80:80
PublishPort=443:443
PublishPort=81:81

# Timezone
# This option tells Podman to set the time zone based on the local system's time zone where Podman is running.
Timezone=local

# IMPORTANT: The container starts internally as root, as expected by the NPM container.
# NPM then automatically changes the data ownership to PUID/PGID (here 1000:1000).
# This corresponds exactly to the recommendation in the error message:
# This Docker container must be run as root, do not specify a user. You can specify PUID and PGID env vars ...
# The following lines are **disabled** due to a current issue with Nginx Proxy Manager: https://github.com/NginxProxyManager/nginx-proxy-manager/issues/2750
#Environment=PUID=1000
#Environment=PGID=1000

# Volumes
Volume=nginx-proxy-manager_data:/data:Z
Volume=nginx-proxy-manager_letsencrypt:/etc/letsencrypt:Z

# Healthcheck on dashboard port
HealthCmd=["CMD-SHELL", "curl -f http://localhost:81 || exit 1"]
HealthInterval=10s
HealthTimeout=3s
HealthRetries=3
HealthStartPeriod=30s
HealthOnFailure=kill

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
