[Unit]
Description=Opencloud (Rootless Podman)

After=opencloud-network.service
Requires=nginx-proxy-manager.service opencloud-network.service opencloud.service
BindsTo=nginx-proxy-manager.service opencloud-network.service opencloud.service

[Container]
ContainerName=opencloud
Image=docker.io/opencloudeu/opencloud-rolling:latest

# Automatical Updates
# To enable automatic updates for all containers, start the systemd timer:
# systemctl --user start --now podman-auto-update.timer
AutoUpdate=registry

# Pod
# [Container] Pod= automatically sets up the dependency for this container.
# You don’t need After= or Requires= entries for this container regarding the Pod.
# The Pod provides a shared network, localhost, and all other resources to its containers.
# Once the Pod is running, this container starts automatically.
# All containers are fully orchestrated and can communicate internally.
Pod=opencloud.pod

# Network via Pod
#Network=opencloud.net

# Timezone
# This option tells Podman to set the time zone based on the local system's time zone where Podman is running.
Timezone=local

# This container is executed with a non-root user context (UID:GID 1000:1000) to match the container's expected runtime permissions.
User=1000:1000

# Volumes
Volume=opencloud_config:/etc/opencloud:z
Volume=opencloud_data:/var/lib/opencloud:Z
Volume=opencloud_apps:/var/lib/opencloud/web/assets/apps:Z

# Environment
Environment=OC_ADD_RUN_SERVICES=notifications
Environment=OC_URL=https://opencloud.example.org
Environment=OC_LOG_LEVEL=warn
Environment=OC_LOG_COLOR=true
Environment=OC_LOG_PRETTY=true
Environment=PROXY_TLS=false
Environment=OC_INSECURE=true
# Default password is: admin
# Change the password after the first login!
Environment=IDM_ADMIN_PASSWORD=admin
Environment=IDM_CREATE_DEMO_USERS=false

Environment=NOTIFICATIONS_SMTP_HOST=smtp.example.org
Environment=NOTIFICATIONS_SMTP_PORT=587
Environment=NOTIFICATIONS_SMTP_SENDER="OpenCloud Notifications <mail@example.com>"
Environment=NOTIFICATIONS_SMTP_USERNAME=mail@example.com
Secret=opencloud_smtp_pwd,type=env,target=NOTIFICATIONS_SMTP_PASSWORD
Environment=NOTIFICATIONS_SMTP_INSECURE=false
Environment=NOTIFICATIONS_SMTP_AUTHENTICATION=Login
Environment=NOTIFICATIONS_SMTP_ENCRYPTION=starttls

Environment=FRONTEND_ARCHIVER_MAX_SIZE=10000000000
Environment=FRONTEND_CHECK_FOR_UPDATES=true

Environment=PROXY_HTTP_ADDR="0.0.0.0:9200"

Environment=FRONTEND_DISABLE_RADICALE=false

#Environment=COMPANION_DOMAIN=companion.example.com

# Entrypoint / Exec
Entrypoint=["/bin/bash","-c"]
Exec='opencloud init || true; opencloud server'

[Service]
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
