[Unit]
Description=Opencloud (Rootless Podman)

[Container]
ContainerName=opencloud
Image=docker.io/opencloudeu/opencloud-rolling:latest

# Automatical Updates
# To enable automatic updates for all containers, start the systemd timer:
# systemctl --user start --now podman-auto-update.timer
AutoUpdate=registry

# Pod
# [Container] Pod= automatically sets up the dependency for this container.
# You don’t need After= or Requires= entries for this container regarding the Pod.
# The Pod provides a shared network, localhost, and all other resources to its containers.
# Once the Pod is running, this container starts automatically.
# All containers are fully orchestrated and can communicate internally.
Pod=opencloud.pod

# Network
Network=opencloud.net

# Timezone
# This option tells Podman to set the time zone based on the local system's time zone where Podman is running.
Timezone=local

# Volumes
Volume=opencloud_config:/etc/opencloud:z
Volume=opencloud_data:/var/lib/opencloud:Z
Volume=opencloud_apps:/var/lib/opencloud/web/assets/apps:Z

# Environment
Environment=OC_ADD_RUN_SERVICES=notifications
Environment=OC_URL=https://opencloud.example.org
Environment=OC_LOG_LEVEL=warn
Environment=OC_LOG_COLOR=true
Environment=OC_LOG_PRETTY=true
Environment=PROXY_TLS=false
Environment=OC_INSECURE=true
# Default password is: admin
#Environment=IDM_ADMIN_PASSWORD=admin
Environment=IDM_CREATE_DEMO_USERS=false

Environment=NOTIFICATIONS_SMTP_HOST=xxx
Environment=NOTIFICATIONS_SMTP_PORT=xxx
Environment=NOTIFICATIONS_SMTP_SENDER=xxx
Environment=NOTIFICATIONS_SMTP_USERNAME=xxx
Environment=NOTIFICATIONS_SMTP_PASSWORD=xxx
Environment=NOTIFICATIONS_SMTP_INSECURE=xxx
Environment=NOTIFICATIONS_SMTP_AUTHENTICATION=xxx
Environment=NOTIFICATIONS_SMTP_ENCRYPTION=xxx

Environment=FRONTEND_ARCHIVER_MAX_SIZE=10000000000
Environment=FRONTEND_CHECK_FOR_UPDATES=true

Environment=FRONTEND_DISABLE_RADICALE=false

# Entrypoint / Exec
Entrypoint=["/bin/bash","-c"]
Exec=-'opencloud init || true; opencloud server'

[Service]
Restart=always
RestartSec=30s

[Install]
WantedBy=default.target
