[Unit]
Description=Vaultwarden (Rootless Podman)

After=vaultwarden-network.service
Requires=nginx-proxy-manager.service vaultwarden-network.service
BindsTo=nginx-proxy-manager.service vaultwarden-network.service

[Container]
ContainerName=vaultwarden
Image=docker.io/vaultwarden/server:latest

# Automatical Updates
# To enable automatic updates for all containers, start the systemd timer:
# systemctl --user start --now podman-auto-update.timer
AutoUpdate=registry

# Network
# Isolated container network
# IMPORTANT: The network must exist before starting this service!
Network=vaultwarden.net

# Internal container port 80 is used by Vaultwarden
# Container name (vaultwarden) is selected in Nginx Proxy Manager as Forward Hostname
# Forward Port in Nginx Proxy Manager should be 80
# No need to publish host ports when using Nginx Proxy Manager
# PublishPort=80   # NOT required!

# Timezone
# This option tells Podman to set the time zone based on the local system's time zone where Podman is running.
Timezone=local

# Volume
Volume=vaultwarden_data:/data:Z

# Environment
# Admin token for Vaultwarden web interface
# You must generate your own secure token (e.g., using Argon2 hash)
# For example here: https://argon2.online
# Run this command before you start this container:
# printf "$argon2i...LONG....HASH" | podman secret create vaultwarden_admin_pwd -
Secret=vaultwarden_admin_pwd,type=env,target=ADMIN_TOKEN

[Service]
# Restart the container automatically if it crashes
Restart=always
RestartSec=20

[Install]
# Start the service at boot
WantedBy=default.target
