[Unit]
Description=Nginx Proxy Manager (Rootless Podman)

[Container]
ContainerName=nginx-proxy-manager
Image=docker.io/jc21/nginx-proxy-manager:latest

AutoUpdate=registry

# Ports
PublishPort=8080:80
PublishPort=8443:443
PublishPort=8081:81

# Volumes
Volume=nginx-proxy-manager_data:/data
Volume=nginx-proxy-manager_letsencrypt:/etc/letsencrypt

# Environment
Environment=TZ=Europe/Berlin

# --- Network ---
# Use an isolated container network.
# IMPORTANT: The network must exist before starting this service!
# Example to create the network:
#   podman network create proxy
# You can also attach Nginx Proxy Manager to an existing network with another container,
# for example, if the network "proxy-filebrowser-quantum" exists with Filebrowser-aquantum:
#   podman network connect proxy-filebrowser-quantum nginx-proxy-manager
Network=proxy


[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
