[Unit]
Description=Opencloud (Rootless Podman)

[Container]
ContainerName=opencloud
Image=docker.io/opencloudeu/opencloud-rolling:latest

# Pod
# [Container] Pod= automatically sets up the dependency for this container.
# You don’t need After= or Requires= entries for this container regarding the Pod.
# The Pod provides a shared network, localhost, and all other resources to its containers.
# Once the Pod is running, this container starts automatically.
# All containers are fully orchestrated and can communicate internally.
Pod=opencloud.pod

# Volumes
Volume=opencloud_config:/etc/opencloud:z
Volume=opencloud_data:/var/lib/opencloud:Z
Volume=opencloud_apps:/var/lib/opencloud/web/assets/apps:Z

# Environment
Environment=OC_ADD_RUN_SERVICES=notifications
Environment=OC_URL=https://opencloud.example.org
Environment=OC_LOG_LEVEL=warn
Environment=OC_LOG_COLOR=true
Environment=OC_LOG_PRETTY=true
Environment=PROXY_TLS=false
Environment=OC_INSECURE=true
Environment=IDM_ADMIN_PASSWORD=admin
Environment=IDM_CREATE_DEMO_USERS=false

Environment=NOTIFICATIONS_SMTP_HOST=xxx
Environment=NOTIFICATIONS_SMTP_PORT=xxx
Environment=NOTIFICATIONS_SMTP_SENDER=xxx
Environment=NOTIFICATIONS_SMTP_USERNAME=xxx
Environment=NOTIFICATIONS_SMTP_PASSWORD=xxx
Environment=NOTIFICATIONS_SMTP_INSECURE=xxx
Environment=NOTIFICATIONS_SMTP_AUTHENTICATION=xxx
Environment=NOTIFICATIONS_SMTP_ENCRYPTION=xxx

Environment=FRONTEND_ARCHIVER_MAX_SIZE=10000000000
Environment=FRONTEND_CHECK_FOR_UPDATES=true

Environment=COLLABORA_DOMAIN=collabora.example.org
Environment=NATS_NATS_HOST=0.0.0.0
Environment=GATEWAY_GRPC_ADDR=0.0.0.0:9142
Environment=FRONTEND_APP_HANDLER_SECURE_VIEW_APP_ADDR=eu.opencloud.api.collaboration
Environment=GRAPH_AVAILABLE_ROLES="b1e2218d-eef8-4d4c-b82d-0f1a1b48f3b5,a8d5fe5e-96e3-418d-825b-534dbdf22b99,fb6c3e19-e378-47e5-b277-9732f9de6e21,58c63c02-1d>

Environment=OC_CALDAV_URL="http://radicale:5232"
Environment=OC_CARDDAV_URL="http://radicale:5232"
Environment=OC_CALDAV_ENABLED=true
Environment=OC_CARDDAV_ENABLED=true
Environment=OC_CALDAV_AUTOCREATE=true
Environment=OC_CARDDAV_AUTOCREATE=true

# Entrypoint / Exec
Entrypoint=["/bin/bash","-c"]
Exec=-'opencloud init || true; opencloud server'

[Service]
Restart=always
RestartSec=30s

[Install]
WantedBy=default.target
