[Unit]
Description=Radicale (Rootless Podman)
After=opencloud.service
BindsTo=opencloud.service
Requires=opencloud.service

[Container]
ContainerName=radicale
# Official Radicale image from Kozea (GHCR)
Image=ghcr.io/kozea/radicale:latest

# Network
Network=opencloud.net

# Volumes
Volume=radicale_data:/var/lib/radicale
# The :ro suffix makes the radicale_config volume read-only inside the container!
# The config file cannot be changed from within the container; the file must be edited on the host system.
# Example: nano ~/.local/share/containers/storage/volumes/radicale_config/_data/config
# Documentation: https://radicale.org/v3.html#configuration
Volume=radicale_config:/etc/radicale:ro

# Environments
Environment=TZ=Europe/Berlin

[Service]
# Limit tasks and memory for Rootless container
TasksMax=50
MemoryHigh=256M

# Restart policy
Restart=always
RestartSec=20

[Install]
WantedBy=default.target
