[Unit]
Description=Podman network for FileBrowser Quantum
Wants=network-online.target
After=network-online.target

[Network]
NetworkName=filebrowser-quantum.net
