[Unit]
Description=FileBrowser Quantum (Rootless Podman)

After=filebrowser-quantum-network.service
BindsTo=nginx-proxy-manager.service filebrowser-quantum-network.service
Requires=nginx-proxy-manager.service filebrowser-quantum-network.service

[Container]
# Container settings
ContainerName=filebrowser-quantum-server
Image=docker.io/gtstef/filebrowser:latest

# Automatical Updates
# To enable automatic updates for all containers, start the systemd timer:
# systemctl --user start --now podman-auto-update.timer
AutoUpdate=registry

# Pod
# [Container] Pod= automatically sets up the dependency for this container.
# You don’t need After= or Requires= entries for this container regarding the Pod.
# The Pod provides a shared network, localhost, and all other resources to its containers.
# Once the Pod is running, this container starts automatically.
# All containers are fully orchestrated and can communicate internally.
Pod=filebrowser-quantum.pod

# Network via Pod
#Network=filebrowser-quantum.net

# Internal container port 80 is used by FileBrowser Quantum
# Container name (filebrowser-quantum-server) is selected in Nginx Proxy Manager as Forward Hostname
# Forward Port in Nginx Proxy Manager should be 80
# No need to publish host ports when using Nginx Proxy Manager
# PublishPort=80   # NOT required!

# Timezone
# This option tells Podman to set the time zone based on the local system's time zone where Podman is running.
Timezone=local

# This container is executed with a non-root user context (UID:GID 1000:1000) to match the container's expected runtime permissions.
#User=1000:1000 # Is activated by default with FileBrowser Quantum image

# Volumes
# Persistent data (config, database, user files)
Volume=filebrowser-quantum_data:/home/filebrowser/data:Z
Volume=filebrowser-quantum_files:/srv:Z

# Environments
Environment=FILEBROWSER_CONFIG="data/config.yaml"
# Run this command before you start this container:
# echo -n 'password123' | podman secret create filebrowser_admin_pwd -
Secret=filebrowser_admin_pwd,type=env,target=FILEBROWSER_ADMIN_PASSWORD

[Service]
# Restart automatically on crash
Restart=always
RestartSec=10

[Install]
# Enable at boot
WantedBy=default.target
