[Unit]
Description=FileBrowser Quantum (Rootless Podman)
After=network.target
BindsTo=nginx-proxy-manager.service
Requires=nginx-proxy-manager.service

[Container]
# Container settings
ContainerName=filebrowser-quantum
Image=docker.io/gtstef/filebrowser:latest

# Automatical Updates
# To enable automatic updates for all containers, start the systemd timer:
# systemctl --user start --now podman-auto-update.timer
AutoUpdate=registry

# Network
# Isolated container network
# IMPORTANT: The network must exist before starting this service!
# podman network create vaultwarden.net
Network=filebrowser.net

# Internal container port 80 is used by FileBrowser Quantum
# Container name (filebrowser-quantum) is selected in Nginx Proxy Manager as Forward Hostname
# Forward Port in Nginx Proxy Manager should be 80
# No need to publish host ports when using Nginx Proxy Manager
# PublishPort=80   # NOT required!

# Timezone
# This option tells Podman to set the time zone based on the local system's time zone where Podman is running.
Timezone=local

# This container is executed with a non-root user context (UID:GID 1000:1000) to match the container's expected runtime permissions.
#User=1000:1000 # Not work at the moment correctly!

# Volumes
# Persistent data (config, database, user files)
Volume=filebrowser-quantum_data:/home/filebrowser/data:Z
Volume=filebrowser-quantum_files:/files:Z

# Environment
Environment=FILEBROWSER_CONFIG="data/config.yaml"
# Optional OnlyOffice integration
# Environment=FILEBROWSER_ONLYOFFICE_SECRET=SUPER_SECRET_PASSWORD

# Entrypoint / Exec
Entrypoint=["/bin/bash","-c"]
Exec='curl -fsSL https://raw.githubusercontent.com/cryinkfly/podman-rootless-quadlets/main/quadlets/filebrowser-quantum/config.yaml -o /home/filebrowser/data/config.yaml'

[Service]
# Restart automatically on crash
Restart=always
RestartSec=10

[Install]
# Enable at boot
WantedBy=multi-user.target
