[Unit]
Description=Onlyoffice (Rootless Podman)
After=filebrowser-quantum-network.service
BindsTo=nginx-proxy-manager.service filebrowser-quantum-network.service filebrowser-quantum-server.service
Requires=nginx-proxy-manager.service filebrowser-quantum-network.service filebrowser-quantum-server.service

[Container]
# Container settings
ContainerName=onlyoffice
Image=docker.io/onlyoffice/documentserver:latest

# Automatical Updates
# To enable automatic updates for all containers, start the systemd timer:
# systemctl --user start --now podman-auto-update.timer
AutoUpdate=registry

# Pod
# [Container] Pod= automatically sets up the dependency for this container.
# You don’t need After= or Requires= entries for this container regarding the Pod.
# The Pod provides a shared network, localhost, and all other resources to its containers.
# Once the Pod is running, this container starts automatically.
# All containers are fully orchestrated and can communicate internally.
Pod=filebrowser-quantum.pod

# Network via Pod
#Network=filebrowser-quantum.net

# Internal container port 80 is used by Onlyoffice
# Container name (onlyoffice) is selected in Nginx Proxy Manager as Forward Hostname
# Forward Port in Nginx Proxy Manager should be 80
# No need to publish host ports when using Nginx Proxy Manager
# PublishPort=80   # NOT required!

# Timezone
# This option tells Podman to set the time zone based on the local system's time zone where Podman is running.
Timezone=local

# Environments
Environment=JWT_ENABLED=true
Environment=JWT_SECRET=SUPER_SECRET_PASSWORD

[Service]
# Restart automatically on crash
Restart=always
RestartSec=10

[Install]
# Enable at boot
WantedBy=multi-user.target
