[Unit]
Description=Radicale (Rootless Podman)

After=radicale-network.service
Requires=nginx-proxy-manager.service radicale-network.service
BindsTo=nginx-proxy-manager.service radicale-network.service

[Container]
ContainerName=radicale
# Official Radicale image from Kozea (GHCR)
Image=ghcr.io/kozea/radicale:latest

# Automatical Updates
# To enable automatic updates for all containers, start the systemd timer:
# systemctl --user start --now radicale.auto-update.timer
AutoUpdate=registry

# Network
# Isolated container network
# IMPORTANT: The network must exist before starting this service!
# podman network create radicale.net
Network=radicale.net

# Internal container port 5232 is used by Radicale
# Container name (radicale) is selected in Nginx Proxy Manager as Forward Hostname
# Forward Port in Nginx Proxy Manager should be 80
# No need to publish host ports when using Nginx Proxy Manager
# PublishPort=5232:5232   # NOT required!

# Timezone
# This option tells Podman to set the time zone based on the local system's time zone where Podman is running.
Timezone=local

# Volumes
Volume=radicale_data:/var/lib/radicale
# The :ro suffix makes the radicale_config volume read-only inside the container!
# The config file cannot be changed from within the container; the file must be edited on the host system.
# Example: nano ~/.local/share/containers/storage/volumes/radicale_config/_data/config
# Documentation: https://radicale.org/v3.html#configuration
Volume=radicale_config:/etc/radicale:ro

[Service]
# Limit tasks and memory for Rootless container
TasksMax=50
MemoryHigh=256M

# Restart policy
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
