[Unit]
Description=Radicale (Rootless Podman)

[Container]
ContainerName=radicale
# Official Radicale image from Kozea (GHCR)
Image=ghcr.io/kozea/radicale:latest

# Automatical Updates
# To enable automatic updates for all containers, start the systemd timer:
# systemctl --user start --now radicale.auto-update.timer
AutoUpdate=registry

# Network
PublishPort=5232:5232

# Timezone
# This option tells Podman to set the time zone based on the local system's time zone where Podman is running.
Timezone=local

# Volumes
Volume=radicale_data:/var/lib/radicale
# The :ro suffix makes the radicale_config volume read-only inside the container!
# The config file cannot be changed from within the container; the file must be edited on the host system.
# Example: nano ~/.local/share/containers/storage/volumes/radicale_config/_data/config
# Documentation: https://radicale.org/v3.html#configuration
Volume=radicale_config:/etc/radicale:ro

# Environments
Environment=TZ=Europe/Berlin

[Service]
# Limit tasks and memory for Rootless container
TasksMax=50
MemoryHigh=256M

# Restart policy
Restart=always
RestartSec=20

[Install]
WantedBy=default.target
